{% extends "layouts.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="flex items-center justify-center w-full min-h-[70vh]">
    <form action="{{ url_for('maestros.modificarMaes', id=maestro.matricula) }}" 
          method="POST" 
          class="w-full max-w-md mx-auto">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.camposNuevos(form.nombre, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:ring-0 focus:border-brand peer") }}
        </div>
        
        <div class="relative z-0 w-full mb-5 group">
            {{ macros.camposNuevos(form.apellidos, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:ring-0 focus:border-brand peer") }}
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.camposNuevos(form.especialidad, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:ring-0 focus:border-brand peer") }}
        </div>
        
        <div class="relative z-0 w-full mb-5 group">
            {{ macros.camposNuevos(form.email, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:ring-0 focus:border-brand peer") }}
        </div>


        <div class="relative z-0 w-full mb-5 group flex gap-4">
            <button type="submit"
                class="text-white bg-brand hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium font-medium rounded-base text-sm px-4 py-2.5">
                Guardar Cambios
            </button>

            <a href="{{ url_for('maestros.maestros') }}"
                class="text-gray-700 bg-gray-200 hover:bg-gray-300 font-medium rounded-base text-sm px-4 py-2.5 text-center">
                Cancelar
            </a>
        </div>
    </form>
</div>

{% endblock %}